* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/space-tourism-website-main/starter-code/assets/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center, center;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}

.nav-bar {
  display: flex;
  width: 55%;
  background: hsl(0, 0%, 100% / 0.1);
  backdrop-filter: blur(5rem);
}

ul {
  height: 5rem;
  list-style: none;
  display: flex;
  gap: 3rem;
  align-items: center;
  padding-right: 10rem;
}
a {
  color: aliceblue;
  text-decoration: none;
}
.main-container {
  display: flex;
  margin: 3.25rem auto;
  height: 882px;
  max-width: 1200px;
  width: 80%;
  justify-content: space-between;
}
.left-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.right-container {
  background-image: url(/space-tourism-website-main/starter-code/assets/crew/image-anousheh-ansari.png);
  background-repeat: no-repeat;
  width: 50%;
  margin-top: 13rem;
}
h1 {
  color: white;
}
h2 {
  font-size: 50px;
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
p {
  color: white;
}
.description {
  width: 65%;
  margin-top: 2rem;
  line-height: 1.5;
  font-size: 17px;
}
.header {
  margin-top: 2rem;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-left: 3rem;
  position: relative;
}
.menu-icon {
  display: none;
}
li:hover {
  align-items: center;
  border-bottom: 3px solid hsl(231 77% 90%);
  display: flex;
  height: 100%;
}
.meet-your-crew {
  margin-top: 5rem;
}
.title {
  margin-top: 10rem;
}
.name {
  font-size: 55px;
  letter-spacing: 4px;
  font-weight: 100;
}

@media (max-width: 50em) {
  .menu-icon {
    display: inline-flex;
  }
  .nav-bar {
    display: none;
  }
}
